@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-full bg-gradient-to-b;
    background-image: linear-gradient(
      to bottom,
      var(--primary),
      var(--tertiary)
    );
  }

  .content-container {
    @apply mx-auto flex w-full max-w-full flex-1 flex-col;
  }

  header {
    @apply fixed left-0 top-0 z-50 flex w-full max-w-full flex-row justify-center;
  }

  .inner-container {
    @apply flex w-full max-w-full p-2 font-bold lg:max-w-6xl lg:p-4;
  }

  h1 {
    @apply inline-block cursor-pointer select-none text-center text-5xl font-bold hover:scale-105 lg:text-6xl;
    color: white;
  }

  h2 {
    @apply inline-block cursor-pointer select-none text-center text-2xl font-bold lg:text-3xl;
    color: white;
  }

  h3 {
    @apply inline-block cursor-pointer select-none text-center text-lg font-bold hover:scale-105 lg:text-lg;
    color: var(--contrast-b);
  }

  h4 {
    @apply inline-block cursor-pointer select-none text-left text-xl font-bold lg:text-xl;
    color: var(--contrast-c);
  }

  p {
    @apply text-base;
    color: var(--contrast-c);
  }
}

@layer components {
  .site-icon {
    @apply aspect-square w-12 rounded-[12px] shadow-lg;
  }

  .app-link {
    @apply cursor-pointer text-base transition-colors hover:-translate-y-[3px] hover:text-[16.2px];
    color: var(--contrast-c);
  }

  .app-link:hover {
    color: var(--contrast);
  }

  .opening-banner {
    @apply flex flex-col items-center lg:flex-row;
  }

  .footer-block {
    @apply flex flex-1 flex-col items-start text-left;
  }

  .badge {
    @apply h-[70px] p-1 lg:h-[90px] lg:p-3;
  }

  .badge-container {
    @apply flex flex-col items-center justify-center pt-4 lg:flex-row lg:p-0;
  }

  .app-icon {
    @apply m-5 aspect-square w-[200px] rounded-[50px] shadow-lg lg:w-[300px] lg:rounded-[75px];
  }

  .profile-image {
    @apply aspect-square w-[200px] rounded-full border-[3px] object-cover;
    border-color: var(--contrast);
  }

  .personal-detail {
    @apply flex flex-row items-center p-2;
    color: var(--contrast-c);
  }
}
